/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #F5F5F5;
  text-align: center;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 10px 0;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

#modal-body {
  color: white;
}


a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#sticky-social {
  left: 0;
  position: fixed;
  top: 30%;
  z-index: 9999;
}
#sticky-social a {
  background: #333;
  color: #fff;
  display: block;
  height: 50px;
  font: 20px "Open Sans", sans-serif;
  line-height: 50px;
  position: relative;
  text-align: center;
  width: 50px;
}
#sticky-social a span {
  line-height: 50px;
  left: -120px;
  position: absolute;
  text-align:center;
  width:120px;
}
#sticky-social a:hover span {
  left: 100%;
}
#sticky-social a[class*="facebook"],
#sticky-social a[class*="facebook"]:hover,
#sticky-social a[class*="facebook"] span { background: #3b5998; }

#sticky-social a[class*="flickr"],
#sticky-social a[class*="flickr"]:hover,
#sticky-social a[class*="flickr"] span { background: #0063dc; }

#sticky-social a[class*="graduation"],
#sticky-social a[class*="graduation"]:hover,
#sticky-social a[class*="graduation"] span { background: #333; }

#sticky-social a[class*="info"],
#sticky-social a[class*="info"]:hover,
#sticky-social a[class*="info"] span { background: #eb4924; }

.messages .alert {
  text-align: center;
  font-size: 24px;
  padding: 5px;
  margin-top: -21px;
  width: 70%;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  z-index: 9999;
}
