{% extends "index/base.html" %}
{% load static %}
{% block title_name %}
  <title>評審</title>
{% endblock title_name %}

{% block import_source %}
<style>
  h3 {
    margin: 0px;
  }
  .title {
    border: 5px solid #ddd;
    padding: 10px;
    border-radius: 10px;
  }
  .imgBorder {
    padding: 15px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
    -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    max-width: 100%;
    max-height: 750px;
  }
</style>
{% endblock import_source %}

{% block body_block %}

<div class='container' style="width:50%;">
  <br>
  {% for photo in photos %}
  <div>
    <div class="well title">
      <h3 style="display: inline-block;">
        {{ photo.user_id }}-{{ photo.photo_id }}&nbsp&nbsp&nbsp
      </h3>
      <h3 style="display: inline-block;">
        {{ photo.title }}&nbsp&nbsp&nbsp
      </h3>
      <h3 style="float:right;">
        <i class="fa fa-map-marker"></i>
        {{ photo.location_marker }}
      </h3>
    </div>
    <br style="clear:both;">
    <center><img class="imgBorder" src="{{ photo.flickr_photo_url }}" alt=""></center>
    <hr style="border:2px solid #dddddd;">
  </div>
  {% endfor %}

  {% if all_page > 0 %}
    <div class="text-center">
      <ul class="pagination">
        <li>
          {% if page|add:-1 < 1 %}
          <a href="{% url 'photos:judge_with_page' 1%}" aria-label="Previous">
          {% else %}
          <a href="{% url 'photos:judge_with_page' page|add:"-1"%}" aria-label="Previous">
          {% endif%}
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% load get_range %}
        {% for i in all_page|get_range %}
        {% if i|add:1 == page %}
          <li class="active"><a href="#">{{i|add:1}}</a></li>
        {% else %}
          <li><a href="{% url 'photos:judge_with_page' i|add:1%}">{{i|add:1}}</a></li>
        {% endif %}
        {% endfor %}
        <li>
          {% if page|add:1 > all_page %}
          <a href="{% url 'photos:judge_with_page' all_page %}" aria-label="Next">
          {% else %}
          <a href="{% url 'photos:judge_with_page' page|add:1 %}" aria-label="Next">
          {% endif%}

            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </div>
    {% endif %}

</dive>
{% endblock body_block %}
