{% extends 'index/base.html' %}

{% load static %}

{% block import_source %}
<link rel="stylesheet" href={% static "css/bootstrap-tagsinput.css" %} media="screen">
<link rel="stylesheet" href={% static "css/upload_modal.css" %} media="screen">
<script src={% static "js/typeahead.bundle.js" %}></script>
<script src={% static "js/bootstrap-tagsinput.min.js"%}></script>
{% endblock import_source %}

{% block body_block %}

<style type="text/css">
#side-canvas {
	width:25%;
    height:calc(100% - 0);
    position:fixed;
    right:16px;
    top:50px;
    bottom:0;
    overflow:hidden;
}

#google_map{
    width:100%;
    height:300px;
    display: block;
    margin-top:5px;
}

</style>

<div id="side-canvas">
<h3>秘境地圖</h3>
<div id='google_map'></div>
<hr>
<h3>標籤</h3>
<div style='width:90%; display:inline-block;'><input type='text' class="form-control" id="img-tags" data-role="tagsinput"></div>
    <div onclick='addTag($("#img-tags").tagsinput("input").val())' id ='add_tag_button' class='btn btn-primary btn-xs round_radius' >增加</div>
    <div class='recommand_tags_bar'>熱門:
      {% for tag in hot_tags%}
        <button type="button" class="btn btn-danger lables round_radius" onclick='addTag("{{tag}}")'>{{tag}}</button>
      {% endfor %}
    </div>
    <div class='recommand_tags_bar'>最新:
      {% for tag in recent_tags%}
        <button type="button" class="btn btn-info lables round_radius" onclick='addTag("{{tag}}")'>{{tag}}</button>
      {% endfor %}
    </div>
</div>
<div class="container" id="main">
  <div class="row">
  	<div class="col-xs-9" id="left">

      <h2>Bootstrap Google Maps Demo</h2>

      <!-- item list -->
      <div class="panel panel-default">
        <div class="panel-heading"><a href="">Item heading</a></div>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
        Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
        dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
        Aliquam in felis sit amet augue.</p>

      <hr>

      <div class="panel panel-default">
        <div class="panel-heading"><a href="">Item heading</a></div>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
        Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
        dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
        Aliquam in felis sit amet augue.</p>

      <hr>

      <div class="panel panel-default">
        <div class="panel-heading"><a href="">Item heading</a></div>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
        Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
        dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
        Aliquam in felis sit amet augue.</p>

      <hr>

      <div class="panel panel-default">
        <div class="panel-heading"><a href="">Item heading</a></div>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
        Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
        dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
        Aliquam in felis sit amet augue.</p>

      <hr>
      <!-- /item list -->

      <p>
      <a href="http://www.bootply.com/render/129229">Demo</a> | <a href="http://bootply.com/129229">Source Code</a>
      </p>

      <hr>

      <p>
      <a href="http://bootply.com" target="_ext" class="center-block btn btn-primary">More Bootstrap Snippets on Bootply</a>
      </p>

      <hr>

    </div>
    <div class="col-xs-4"><!--map-canvas will be postioned here--></div>

  </div>
</div>


<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAl62RoU1i9n0MzNAmw8fcKGTVPryxNJLM&callback=initialize">
</script>

<script type="text/javascript">

function initialize() {

  /* position Amsterdam */
  var latlng = new google.maps.LatLng(52.3731, 4.8922);

  var mapOptions = {
    center: latlng,
    scrollWheel: false,
    zoom: 13
  };

  var marker = new google.maps.Marker({
    position: latlng,
    url: '/',
    animation: google.maps.Animation.DROP
  });

  var map = new google.maps.Map(document.getElementById("google_map"), mapOptions);
  marker.setMap(map);

};
</script>

<script src={% static "js/upload_modal.js"%}></script>
<script type="text/javascript">
  var all_tags=[] , hot_tags=[], recent_tags=[]
  {% for tag in all_tags %}
    all_tags.push("{{tag}}")
  {% endfor %}
  {% for tag in hot_tags %}
    hot_tags.push("{{tag}}")
  {% endfor %}
  {% for tag in recent_tags %}
    recent_tags.push("{{tag}}")
  {% endfor %}
  init_tag_typeahead('img-tags' , all_tags, hot_tags, recent_tags)
  var marker_list = []
  {% for marker in marker_list %}
    marker_list.push({'title': '{{marker.title}}', 'lat':{{marker.latitude}}, 'lng': {{marker.longitude}} })
  {% endfor %}
  initMarker(marker_list)
</script>
{% endblock body_block %}