{% extends "index/base.html" %}

{% block body_block %}
		<h1>TestPhotoList</h1>
		<ul id = "photoList"></ul>

		<!-- Modal -->
		<div class="modal fade" id="PhotoModal" tabindex="-1" role="dialog" aria-labelledby="PhotoModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <div class="modal-title" id="PhotoModalLabel">Modal title</div>
		      </div>
		      <div class="modal-body" id = "modB">
		      </div>
		      <div class="modal-footer" id = "modF">
		      </div>
		    </div>
		  </div>
		</div>

	</body>
{% load static %}
<script src="{% static 'js/photoModal.js' %}"></script>

{% endblock body_block %}
