{% block body_block %}
		<div class="modal fade" id="photo_details_modal" tabindex="-1" role="dialog" aria-labelledby="PhotoModalLabel">
		  <div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <div class="modal-title" id="PhotoModalLabel">Modal title</div>
		      </div>
		      <div class="modal-body" id = "modB">
		      </div>
		      <div class="modal-footer" id = "modF">
		      </div>
		    </div>
		  </div>
		</div>
		<script type="text/javascript">
		var modalHead;
		var modalBody;
		var modalFoot;
		function getPhotoInfo(dataGet){
			modalHead = "<div class = 'row'><div class = 'col-md-4 col-md-offset-4' id = 'modalTi'>" + dataGet.title + "</div></div><div class = 'row'><div class = 'modalT' id = 'modalVote'>Vote：<font class='votes_"+dataGet.facebook_post_id+"'>"+ dataGet.votes + "</font> </div></div>";
			document.getElementById("PhotoModalLabel").innerHTML = modalHead;
			modalBody = "<div class = 'Photo'><img class = 'imaged' src = '" + dataGet.photo_url + "' align ='center'></div></div></div><br><div class = 'userInfo'><p class='userI'><em>" + dataGet.owner + "<em></p><p class = 'userI'><em> " + dataGet.location + "</em></p></div><div class = 'content'><em>" + dataGet.content + "</em></div></div><div class = 'buttons'><p class='bts'> <a href='"+ dataGet.flickr_url +"' target=\'_flickr\'><span class='fa fa-flickr hover-pink' id = 'fflickr'></span></a>    <a style='cursor:pointer;' onclick='postLike_btn(\""+dataGet.facebook_post_id+"\")' ><span class='fa fa-thumbs-up hover-blue "+dataGet.hasLiked+"'></span></a></p></div>";
			document.getElementById("modB").innerHTML = modalBody;
			modalFoot = "";
			modalFoot += "<div class = 'commentList'>";
			for(var i =0;i<dataGet.comment_list.length;i++){
				modalFoot += "<div class = 'row'><div class = 'col-xs-2 col-sm-2 col-md-1' id = '" + dataGet.comment_list[i].id + "'><img  class = 'comImage' src = '" + dataGet.comment_list[i].from.avatar_url + "'></div><div class = 'col-xs-2 col-sm-2 col-md-2 comName'>" + dataGet.comment_list[i].from.name + "</div><div class = 'col-xs-4 col-sm-4 col-md-6 comMessage'>" + dataGet.comment_list[i].message +"</div><div class = 'col-xs-4 col-sm-4 col-md-2 comCount'>讚："+dataGet.comment_list[i].likes_count+"</div></div><br>";
			}
			modalFoot += "</div>";
			var tagL = dataGet.tags.split(" ");
			modalFoot += "<p class = 'TagT'>標籤\: </p>"
			modalFoot += "<div class = 'tagList'>";
			for(var i = 0; i < tagL.length; i++){
				modalFoot += "<a href = '#'>" + tagL[i] + " </a>";
			}
			modalFoot += "</div><br>";
			modalFoot += "<div class = 'userInfo'><p class='userI'><em>" + dataGet.owner + "<em></p>";
			modalFoot += "</div>";
			document.getElementById("modF").innerHTML = modalFoot;
			$('#photo_details_modal').modal('show');
		}

		function getPhotoDetails(facebook_post_id){
			$.ajax({
				url: "{% url 'photos:ajax_get_photo_details'%}",
				method: 'POST',
				data:{
					'csrfmiddlewaretoken': getCookie('csrftoken'),
					'facebook_post_id': facebook_post_id,
				},
				success: function(response){
					console.log(response.photo)
					if ($('#'+facebook_post_id+' h2 font').html())
						response.photo.votes = $('#'+facebook_post_id+' h2 font').html()
					if ($('#'+facebook_post_id+' .fa-thumbs-up').hasClass('liked'))
						response.photo.hasLiked = 'liked'
					else
						response.photo.hasLiked = ''
					getPhotoInfo(response.photo)
				},
				error: function(response){
					console.log(response)
				},
			})
		}

		</script>
		<style>

		.hover-green:hover,
		.hover-green:focus{
			color: 	#009100;
		}

		.hover-blue:hover,
		.hover-blue:focus{
			color:  #0072E3;
		}

		.hover-pink:hover,
		.hover-pink:focus{
			color: 	#FF0080;
		}

		.hover-red:hover,
		.hover-red:focus{
			color: 	#FF0000;
		}

		.liked{
			color: 	#0072E3;
		}

		#modalTi{
			font-size: 40px;
			font-weight: bold;
		}

		.imaged{
			max-width:100%;
		}

		.content{
			font-size: 20px;
			max-width: 90%;
			text-align: left;
		}

		.bts a{
			color: gray;
			font-size: 24px;
			font-weight: bold;
		}

		.buttons{
			text-align: right;
		}

		.commentList{
			height:300px;
			overflow: auto;
			overflow-x: hidden;
		}

		.userI{
			font-size:20px;
			font-weight: bold;
		}

		.modal{
			text-align: center;
		}

		#modalVote{
			font-size: 24px;
		}

		.comName{
			font-weight: bold;
			font-size: 20px;
		}

		.comMessage{
			font-size:20px;
		}

		.comCount{
			font-size: 16px;
		}

		.TagT{
			font-size: 16px;
		}

		body{
			font-family: Microsoft JhengHei;
		}
        </style>

{% endblock body_block%}
