{% extends "index/base.html" %}
{% load static %}
{% block title_name %}
  <title>投票</title>
{% endblock title_name %}

{% block import_source %}
<link rel="stylesheet" href={% static "css/gallery.css" %} media="screen">
<script src="{% static "js/gallery.js" %}" ></script>
{% endblock import_source %}

{% block body_block %}
<script>

var hasLogin = false
initGallery();

function postLike_btn(button,facebook_post_id){
	var method = ''
	if ($('span',button).hasClass('liked')){
		method = 'DELETE'
	}
	else{
		method = 'POST'
	}
	$('span',button).toggleClass("liked");

	if (hasLogin){
		FB.api(
		    "/"+facebook_post_id+"/likes",
		    method,
		    function (response) {
		    	console.log(response)
		      	if (response && !response.error) {
		      		var v = $('#'+facebook_post_id+' h2 font')
		      		if (method == 'POST')
		      			v.html(Number(v.html())+1);
		      		else
		      			v.html(v.html()-1);
		      		console.log(v.html())
		        	//getVotes(facebook_post_id);
		      	}
		    }
		);
	}
	else{
		FB.login(function(response) {
			if (response.status === 'connected') {
				var __facebook_user_id = response.authResponse.userID;
				hasLogin = true
		      	if (response && !response.error) {
	        		FB.api(
					    "/"+facebook_post_id+"/likes",
					    method,
					    function (response) {
					    	console.log(response)
					      	if (response && !response.error) {
					      		var v = $('#'+facebook_post_id+' h2 font')
					      		if (method == 'POST')
					      			v.html(Number(v.html())+1);
					      		else
					      			v.html(v.html()-1);
					      		console.log(v.html())
					        	//getVotes(facebook_post_id);
					      	}
					    }
					);
		      	}
		      	else{
		      		console.log('login failed');
		      		console.log(response);
		      	}
			}
			else{
			   	console.log('Please login and grant the permission');
			   	alert('Please login and grant the permission');
			}
		}, {auth_type: 'rerequest', scope: 'publish_actions',return_scopes: true});
	}

}

function getVotes(facebook_post_id){
	$.ajax({
		url: "{% url 'photos:ajax_get_votes' %}",
		method: 'POST',
		data:{
			'csrfmiddlewaretoken': getCookie('csrftoken'),
			'facebook_post_id': facebook_post_id,
		},
		success: function(response){
			console.log(response)
			$('#'+facebook_post_id+' h2').html(response.votes+'票');
		},
		error: function(response){
			console.log(response)
		},
	});
}

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

window.fbAsyncInit = function() {
	FB.init({
		appId      : '1645068735761448',
		cookie     : true,  // enable cookies to allow the server to access
	                        // the session
		xfbml      : true,  // parse social plugins on this page
		version    : 'v2.5' // use version 2.2
	});
};

(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_US/sdk.js";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk')
);

</script>

	<div class='container'>
		{% for account in data_list %}
		<h3><i class="fa fa-user"></i>&nbsp;&nbsp;{{account.nickname}}</h3>
		<hr>
		<div class="row">
			{% for photo in account.photo_list %}
				{% if forloop.counter0 == 0 %}
			  	<div id="{{photo.facebook_post_id}}" class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-6 col-md-6 image_frame">
			  	{% else %}
				<div id="{{photo.facebook_post_id}}" class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-6 col-md-3 image_frame small_frame">
				{% endif %}
			  	<div class="hovereffect black_border">
			        <img src="{{photo.img_src}}" alt="" onload="render_image($(this))">
		            <div class="overlay">
		                <h2><font>{{photo.votes}}</font>票</h2>
		                <p class="icon-links">
		                    <a style="cursor:pointer;" onclick='getPhotoInfo(dataObj)'>
		                        <span class="fa fa-info-circle hover-green"></span>
		                    </a>
		                    <a href="{{photo.flickr_link}}" target='_flickr'>
		                       <span class="fa fa-flickr hover-pink"></span>
		                    </a>
		                    <a style="cursor:pointer;" onclick="postLike_btn($(this),'{{photo.facebook_post_id}}')">
		                    	<span class="fa fa-thumbs-up hover-blue">

							   	</span>
		                    </a>
		                </p>
		            </div>
			    </div>
				</div>

			{% endfor %}
		</div>
		<br>
		{% endfor %}
	</div>
	<br>
	{% include "photos/photo_detail_modal.html" %}
{% endblock body_block %}
