<!DOCTYPE html>
{% extends "index/base.html" %}
{% load static %}

{% block title_name %}
  <title>Fun攝清華 嬉遊秘境</title>
{% endblock title_name %}
{% block import_source %}
<link rel="stylesheet" href={% static "css/index.css" %} media="screen">
<script src="{% static 'js/fb_post_like.js' %}" ></script>
{% endblock import_source %}
{% block body_block %}

<center>
  <h1 style="margin-top: 0px;">六十週年校慶攝影比賽</h1>
  <hr>
  <div class="well" style="padding: 10px; width: 70%">
    <marquee direction="right" scrollamount="5" id="scrolling-text"></marquee>
  </div>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators carousel-indicators-numbers">
      {% for photo in photos %}
        {% if forloop.first %}
          <li data-target="#myCarousel" data-slide-to="0" class="active">1</li>
        {% else %}
          <li data-target="#myCarousel" data-slide-to="{{forloop.counter0}}">{{ forloop.counter }}</li>
        {% endif %}
      {% endfor %}
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" id="carousel-img" role="listbox">
      {% for photo in photos %}
        {% if forloop.first %}
        <div class="item active">
        {% else %}
        <div class="item">
        {% endif %}
        <img class="index-img" src="{{ photo.flickr_photo_url }}" alt="" style="cursor:pointer;" onclick="getPhotoDetails('{{photo.facebook_post_id}}')">
          <div class="carousel-caption">
            <h3>{{ photo.title }}</h3>
            <br>
          </div>
        </div>
      {% endfor %}
    </div>

    <!-- used for record liked and votes-->
    <div style='display:none;'>
      {% for photo in photos %}
        <div id="{{photo.facebook_post_id}}">
          <h2><font class='votes_{{ photo.facebook_post_id}}' >{{photo.votes}}</font>票</h2>
          <a><span class="fa fa-thumbs-up hover-blue"></span></a>
        </div>
      {% endfor %}
    </div>
    <!-- Left and right controls -->
    <!--
    <a class="left carousel-control left-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control right-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    -->


  </div>
  <br><br>
  <a href="{% url 'index:participate' %}" class="btn btn-primary">Participate</a>
</center>

<script type="text/javascript">
var Qsheet_Key = '1iy2_G0DR_RNaTbFNBm8-VDMf-rMkbQhTZDMP1pBYEZU';
var url = 'https://spreadsheets.google.com/feeds/cells/'+ Qsheet_Key +'/1/public/values?alt=json-in-script&callback=?';
var count = 0;
var result;
var scrolling_text = "";
$.getJSON(url, function(data) {
    result = data.feed.entry;
}).then(function(){
    changeText();
    setInterval(changeText,30000);
});

function changeText(){
  document.getElementById("scrolling-text").innerHTML = result[count].gs$cell.$t;
  count ++;
  if(count >= result.length)
    count = 0;
}
$(function(){
    $('#myCarousel.slide').carousel({
        interval: 3000,
        pause: "hover"
    });

    $('input').focus(function(){
       $("#myCarousel").carousel('pause');
    }).blur(function() {
       $("#myCarousel").carousel('cycle');
    });
});
</script>
{% include "photos/photoDetailModal.html" %}
{% endblock body_block %}
