<!-- rule Modal -->
<div class="modal modal-wide fade" id="rule" tabindex="-1" role="dialog" aria-labelledby="ruleModalLabel">
  <div class="modal-dialog" role="document">

    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="ruleModalLabel">參賽規則</h2>
      </div>
      <div class="modal-body">
        <div class="form-group">

<pre class="form-control" id="textArea" style="font-size:18px;height: 600px;" disabled>1、 主辦單位：國立清華大學 計通中心學習科技組

2、 參賽資格︰本校教職員生與校友。

3、 攝影主題︰以清大校園景點、建物、活動、人物為範圍。

4、 報名及繳件日期︰105年1月18日(一)至105年3月9日(三)止，以系統時間為準。

5、 公告獲獎：105年4月20日於計通中心學習科技組網站公佈，請參賽者自行查詢，不個別通知。

6、 領獎時間：105年4月25日至5月20日，週一至週五早上09:30-12:00及下午14:30-17:00。

7、 評分標準：
  最佳攝影獎：專業評審評分。
  最佳秘境獎：專業評審評分。
  最佳創意獎：專業評審評分占75%；網路票選占25%。
  最佳人氣獎：網路票選前20名。
  參加獎：抽出參賽者25名獲新台幣300元。

8、 獎    項：
  最佳攝影獎：獎狀乙幀及新台幣5000元整(獎項共3名)
  最佳秘境獎：獎狀乙幀及新台幣3000元整(獎項共5名)
  最佳創意獎：獎狀乙幀及新台幣1000元整(獎項共15名)
  最佳人氣獎：新台幣500元整(獎項共20名)
  參加獎：新台幣300元整(獎項共25名)

9、 參加辦法：
  1. 至「清大60週年攝影比賽」官網(http://photos.cc.nthu.edu.tw/)報名及上傳作品參賽。
  2. 每人參賽件數最多五件，繳交之作品一律不退還。
  3. 攝影器材不限，可用相機、手機、及其他3C產品。

10、 網路票選
  1. 票選時間︰105年1月18日(一)至105年3月14日(一) 止。
  2. 投票者︰本校教職員生及校友。
  3. 以社群帳號(Facebook、Flickr)做網路投票，每個帳號對每件參賽作品限投1票，不限投票作品數。
  4. 投票網址：http://photos.cc.nthu.edu.tw/

11、 注意事項
  1. 參賽作品須為數位檔案。
  2. 參賽者必須尊重評審委員之評審結果，若無適合之作品，得獎者得以從缺。
  3. 得獎者需依本國稅法規定扣稅，上述獎金為未扣稅前之金額。
  4. 領獎時，在校教職員工生請出示教職員證或學生證，校友請出示有姓名及身分證字號的有效證件。
  5. 參賽者參賽即同意遵守所有注意事項及同意本單位依法蒐集、處理、利用其所有個人資料，參賽者並保證所有填寫或提出之資料均為真實且正確，如有任何不實或違反參賽規則之情事，經查證屬實，本單位將取消參賽資格及獲獎資格，已領取獎勵者須立即返還之。
  6. 參加作品限本人原創、合法之攝影作品，絕無侵害第三人或法人之智慧財產權、隱私權、肖像權及其他權力之情事，且不得為「曾經參加過其他比賽獲獎作品」、「曾經參加過其他比賽而未獲獎作品」、「與曾經發表過之作品雷同」、「拷貝、變造等作品」，保證參賽作品為其所原創，未侵犯其他任何個人或實體之版權、商標權、人格權、隱私／公開權、以及智慧財產權。違者一律取消得獎資格，並追回獎項獎金，名次不予遞補，所衍生之法律問題，概由參賽者自行負責。
  7. 凡參賽作品，國立清華大學有宣傳發表、製作廣告、媒體刊登、雜誌報導、學術相關使用等權利，均不另予通知及致酬。
  8. 參賽作品或投票內容若有任何具不實、誹謗性、侮辱性、猥褻、情色、恐嚇、攻擊性…等違反善良風俗或違背本活動宗旨之文字與圖像，本單位有權將該作品或內容逕行刪除，無須經得參賽者或投票者同意，並取消其參加與獲獎資格。
  9. 主辦單位不接受含有任何浮水印之參賽作品。若參賽者未能於主辦單位提出要求後十天內自行更新無浮水印之作品，該作品將被取消參賽資格。
  10. 主辦單位保留一切檢驗原始作品、來源素材的權利，以確認作品符合參賽資格。
  11. 如有未盡事宜，主辦單位保留解釋、修改、變更、終止、暫停活動或補充本參賽辦法、注意事項及獎項說明內容之權利。
</pre>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="agree();">我同意</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
    $('#id_main-is_agree').attr('disabled', '');
});
function agree(){
    $('#rule').modal('hide');
    $('#id_main-is_agree').removeAttr('disabled');
    $('#id_main-is_agree').prop('checked', true);
}

</script>
