<aside id="sticky-social">
  <ul>
    <li>
      <a href="https://www.facebook.com/%E6%94%9D%E5%BD%B1%E7%AB%B6%E8%B3%BD-1528712347441804/" target="_blank" class="facebook">
        <i class="fa fa-facebook"></i>
        <span>Facebook</span>
      </a>
    </li>
    <li>
      <a href="https://www.flickr.com/photos/138506275@N05/" class="flickr" target="_blank">
        <i class="fa fa-flickr"></i>
        <span>Flickr</span>
      </a>
    </li>
    <li>
      <a href="http://www.nthu.edu.tw/" class="graduation" target="_blank">
        <i class="fa fa-graduation-cap"></i>
        <span>NTHU</span>
      </a>
    </li>
    <li>
      <a href="{% url 'index:q_a' %}" class="info">
        <i class="fa fa-info"></i>
        <span>Q&A</span></a>
    </li>
  </ul>
</aside>
